@import '../node_modules/modern-normalize/modern-normalize.css'; /* bring in normalize.css styles */

body {
  margin: 0;
  color: #7e918a;
  font-family: -apple-system, Fira Sans, 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
  color: #434d49;
}
